.reservation {
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d9e7ff;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
}

.reservation__title {
  text-align: center;
  margin: 0 auto 80px;
  padding-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
